.emoji-card-cont {
  width: 190px;
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px;
}
.btn-1 {
  background-color: rgba(249, 231, 231, 0.5);
  width: 190px;
  height: 190px;

  border-radius: 18px;
  cursor: pointer;
  outline: none;
  border-color: rgba(249, 231, 231, 0.5);
}
