.bg-cont {
  background: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.emojis-cont {
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
